h1{
    color: cadetblue;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
nav a:hover{
    color: white;
}
.link{
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
}